<a href="https://colab.research.google.com/github/triveni2704/Letsupgrade-Python-Programs/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 1

## **Try 5 Different functions of the string in Python**

In [ ]:
def function(fname, lname):
  print(fname + " " + lname)

function("Triveni", "Mohankar")

Triveni Mohankar

In [ ]:
print(chr(84), chr(82), 
chr(73), chr(86), 
chr(69), chr(78), 
chr(73), chr(32), 
chr(77), chr(79), 
chr(72), chr(65),  
chr(78), chr(75),
chr(65), chr(82))

T R I V E N I   M O H A N K A R

In [3]:
x = bool(1)
y = bool(0)
print(x)
print(y)

True
False

In [6]:
x = dict(name = "Triveni", age = 23, country = "India")
print(x)

{'name': 'Triveni', 'age': 23, 'country': 'India'}

In [18]:
n = 13  #it returns a binary value of a number
bin_number = bin(n)
print(bin_number)

0b1101

In [20]:
x = float(13)
print(x)

13.0