<a href="https://colab.research.google.com/github/triveni2704/Letsupgrade-Python-Programs/blob/main/Day_3_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Assignment 2**

**Q1 :- Use if else and elif to write a program in python for your report card**

In [19]:
marks = int(input("enter the number :- "))
if marks >= 90:
  grade = 'A+'
elif marks >= 80:
  grade = 'A'
elif marks >= 70:
  grade = 'B+'
elif marks >= 60:
  grade = 'B'
elif marks >= 50:
  grade = 'C'
elif marks >= 35:
  grade = 'D' 
else:
  grade = 'Fail'
print(grade)

enter the number :- 34
Fail

**Q2 :- Use for loop to print prime numbers in between 1 to 1000**

In [18]:
for Number in range (1, 1001):
    count = 0
    for i in range(2, (Number//2 + 1)):
        if(Number % i == 0):
            count = count + 1
            break
    if (count == 0 and Number != 1):
        print(" \n%d" %Number, end = '  ')

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997

**Q3 :- WAP for printing the table from 1 to 10 using nested for loop**

In [27]:
num = int(input("Enter the number: "))
print("Multiplication Table of", num)
for i in range(1, 11):
   print(num * i)

Enter the number: 6
Multiplication Table of 6
6
12
18
24
30
36
42
48
54
60

**Q4:- WAP to print X prime number using while loop and take input X from user**

In [20]:
n = int(input(" Please Enter the maximum range: "))
Number = 2
p = [] 
m = int(input("How many prime number you want? "))
while(Number <= n):
   count = 0
   i = 2
   while(i <= Number//2):
       if(Number % i == 0):
           count = count + 1
           break
       i = i + 1
   if (count == 0):
       p.append(Number)    
   Number = Number  + 1
   if len(p)==m:
       break
print("The first ", m, "prime numbers :", p)

 Please Enter the maximum range: 100
How many prime number you want? 10
The first  10 prime numbers : [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]