# **Assignment 1**

**Q1 :- Try 5 Different function of the string in python**

In [ ]:
Name = "Triveni Mohankar"
print(len(Name))

16

In [ ]:
x = float(13)
print(x)

13.0

In [ ]:
x = bool(1)
y = bool(0)
print(x)
print(y)

True
False

In [ ]:
animals = ['cat', 'dog', 'rabbit']
wild_animals = ['tiger', 'fox']
animals.append(wild_animals)
print('Updated animals list: ', animals)

Updated animals list:  ['cat', 'dog', 'rabbit', ['tiger', 'fox']]

In [ ]:
fruits = ['apple','banana','grapes','banana']
x = fruits.count('banana')
print(x)

2

**Q2 :- Try 5 Different function of the list object in python**

In [3]:
fruits = ['apple', 'banana', 'cherry']
cars = ['Ford', 'BMW', 'Volvo']
fruits.extend(cars)
print(fruits)

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

In [4]:
Name = ['Triveni','Mohankar']
Name.reverse()
print(Name)

['Mohankar', 'Triveni']

In [7]:
lst = ['Triveni','Radha','Priti','Aaradhya']
lst.sort()
print(lst)

['Aaradhya', 'Priti', 'Radha', 'Triveni']

In [11]:
lst1 = ['apples','grapes','BMW','kiwi','avacodo']
print(lst1)
lst1.pop(2)
print(lst1)

['apples', 'grapes', 'BMW', 'kiwi', 'avacodo']
['apples', 'grapes', 'kiwi', 'avacodo']

In [12]:
lst.extend(lst1)
print(lst)

['Aaradhya', 'Priti', 'Radha', 'Triveni', 'apples', 'grapes', 'kiwi', 'avacodo']

**Q3 :- Experiment with atleast 5 default function of dictonary ?**

In [13]:
Dict = {1: 'Geeks', 2: 'For',  
        3:{'A' : 'Welcome', 'B' : 'To', 'C' : 'Geeks'}} 
  
print(Dict)

{1: 'Geeks', 2: 'For', 3: {'A': 'Welcome', 'B': 'To', 'C': 'Geeks'}}

In [15]:
Dist1 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = Dist1.items()
print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [16]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.update({"color": "White"})
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'White'}

In [18]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.popitem()
print(car)

{'brand': 'Ford', 'model': 'Mustang'}

In [19]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = car.keys()
print(x)

dict_keys(['brand', 'model', 'year'])